@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Oswald&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import '@fortawesome/fontawesome-svg-core/styles.css';

/* App.css */

/* Set background image for the Hero section */
.hero-section {
    background-image: url('./Assets/bg.png'); /* replace with your actual image path */
    background-size: cover;
    background-position: center;
  }
  